[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/django-auth-ldap"]
	path = vendor-local/src/django-auth-ldap
	url = git://github.com/ametaireau/django-auth-ldap.git
