{% extends 'dll/base.html' %}

{% block extrahead %}

{{ js('detail_js') }}

{% endblock %}

{% block mainbody %}
    <div class="panel">
        
        <ul class="tab-list">
            <li class="active"><a class="details" href="#">Details</a></li>
            <li><a class="comments" href="#">Comments</a></li>
            <li><a class="history" href="#">History</a></li>
        </ul>
        <div id="details" class="information">
        
            {% if dllname %}
                <form method="post" action="{{ url('dll.edit', dllname)}}">
                Created on {{ dll_datetime_format(form.instance.date_created) }} by {{ form.instance.created_by }}
            {% else %}
                <form method="post" action="{{ url('dll.create')}}">
            {% endif %}
            	{{ csrf() }}
            <table>
            {{ form }}
            <tr><th>&nbsp;</th><td><input type="submit" value="Submit" /></td>
            </table>
            </form>            
        </div>
        <div id="comments" class="information out-of-focus">Comments go here</div>
        <div id="history" class="information out-of-focus">History goes here</div>
        
    </div>
{% endblock %}