{% extends 'base.html' %}
{% set page_url = 'dll.home' %}
{% import 'dll/pagination.html' as dp %}
{% block mainbody %}
    <div class="panel">
        {{ dp.dll_paginator(page_url, dlls) }}
        <table>
            <tr>
                <th>Date Created</th>
                <th>File Name</th>
                <th>Common Name</th>
                <th>Vendor</th>
                <th>Status</th>
                <th>Description</th>
            </tr>

        {% for file in dlls.object_list %}

        <tr>
            <td><a href="{{ url('dll.edit', file.file_name) }}">{{ dll_date_format(file.date_created) }}</a></td>
            <td>{{file.file_name}}</td>
            <td>{{ file.common_name }}</td>
            <td>{{ file.vendor }}</td>
            <td>{{ file.status }}</td>
            <td>{{ file.description }}</td>
        </tr>
        {% endfor %}
        </table>
        {{ dp.dll_paginator(page_url, dlls) }}
    </div>
    
{%endblock%}