{% extends 'base.html' %}

{% block mainbody %}
    <div class="panel">
        {% include 'dll/pagination.html' %}
        <table>
            <tr>
                <th>Date Created</th>
                <th>File Name</th>
                <th>Common Name</th>
                <th>Vendor</th>
                <th>Status</th>
                <th>Description</th>
            </tr>

        {% for file in dlls.object_list %}

        <tr>
            <td><a href="{{ url('dll.edit', file.file_name) }}">{{ dll_date_format(file.date_created) }}</a></td>
            <td>{{file.file_name}}</td>
            <td>{{ file.common_name }}</td>
            <td>{{ file.vendor }}</td>
            <td>{{ file.status }}</td>
            <td>{{ file.description }}</td>
        </tr>
        {% endfor %}
        </table>
        {% include 'dll/pagination.html' %}
    </div>
    
{%endblock%}