<html>
    <head>
        <title>{% block title %}Mozilla Dragnet{% endblock %}</title>

        {% compress css %}
            <link rel="stylesheet" href="{{ static('css/dll/main.css') }}">
        {% endcompress %}

        {% block site_css %}
        {% endblock %}
        

        {% compress js %}
            <script src="{{ static('js/libs/jquery-1.9.0.js') }}"></script>
            <script src="{{ static('js/dll/nav.js') }}"></script>
        {% endcompress %}
        
        {% block site_js %}
        {% endblock %}
        
        {% block extrahead %}{% endblock %}
        
    </head>
    <body>
        <div class="page-header">
            <p><a href="{{ url('dll.home') }}">Mozilla Dragnet</a></p>
            
            <form action="{{ url('dll.search')}}" method="get">
                {% set search = BasicSearchForm(request) %}
                {{ search.term }}
            </form>
        </div>
        <div id="mainbody" class="body">
        {% block mainbody %}{% endblock %}
        </div>
        <div class="panel body right">
            {% if request.user.is_authenticated() %}
                Welcome {{ request.user.first_name }}. <a href="{{ url('dll.create') }}">Create New DLL</a>&nbsp;&nbsp;<a href="{{ url('users.logout') }}">Log Out</a>
            {% else %}
                <a href="{{ url('users.login') }}">Log In</a>
            {% endif %}
        </div>
    </body>
</html>